@import "~bootstrap/scss/bootstrap.scss";
@import "commons/index";
@import "fonts";

@import "info-bar";
@import "navbar";
@import "slider";
@import "welcome";
@import "courses";
@import "prices";
@import "reasons";
@import "books";
@import "contents";
@import "blog";

body {
  margin: 0;
  padding: 0;
}

.rtl {
  direction: rtl;
}
